section.posts
  .posts__wrapper
    - if @data.present?
      - @data.each do |object|
        - node = object['node']

        .posts__post-wrapper
          .sub-header
            .avatar-wrapper
              span.sub-header__user-name
                | Instagram
            .follow-form[data-user-id="55"]
              = link_to 'Go to post', "https://instagram.com/p/#{node['shortcode']}", class: 'btn btn-primary', style: 'color: white;', target: '_blank'
          article.posts__post
            = image_tag node['display_url']
            - if node['edge_media_to_caption']['edges'].count > 0
              p.posts__post-content
                = node['edge_media_to_caption']['edges'].first['node']['text']
              .posts__actions
                .like-wrapper[data-post-id="338"]
                  div
                    = "#{node['edge_liked_by']['count']} liked"

            .posts__comments-count
              span
                = "#{node['edge_media_to_comment']['count']} comments"
    - else
      .posts__post-wrapper
        .sub-header
          | No data for hashtag&nbsp;
          = params[:hashtag]

.paginate-container
  = paginate @data
