section.desktop-header
  header.desktop-header__wrapper
    div.md-3
      = link_to root_path
        | Social Feeds
    = form_tag '', class: 'simple_form form-inline', method: :get do |f|
      .form-group.string.required.search_user_name
        = text_field_tag :hashtag, params[:hashtag].presence || 'phil', class: 'form-control string required', placeholder: 'Hashtag'
      = submit_tag 'Submit', class: 'btn btn-primary'
