doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
    title
      | SocialFeed

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    meta[content="width=device-width, initial-scale=1.0" name="viewport"]
    = stylesheet_link_tag 'application', 'https:////fonts.googleapis.com/css?family=Share+Tech+Mono&amp;display=swap', media: 'all'
    link[rel="shortcut icon" type="image/x-icon" href="/assets/ms-icon-310x310-67a6515e31f48bec293edb2077b64c856d08140f1d5b4d4f229d69b0b750f8b6.ico"]

  body
    div
      = render partial: 'layouts/header'
      = yield
